@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat:ital,wght@0,500;1,500&family=Nunito+Sans:opsz,wght@6..12,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../img/postres-fondo-inicio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
header .conteiner--navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-weight: lighter;
}
header .conteiner--navbar .logo {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 15px;
}
header .conteiner--navbar .logo a {
  text-decoration: none;
  color: #cfcfcf;
}
header .conteiner--navbar .navbar li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
}
header .conteiner--navbar .navbar li #product {
  cursor: default;
}
header .conteiner--navbar .navbar li a {
  display: inline-block;
  color: #cfcfcf;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  position: relative;
}
header .conteiner--navbar .navbar li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 80%;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
header .conteiner--navbar .navbar li a:hover::after {
  transform: scaleX(0.8);
}
header .conteiner--navbar .navbar li a:hover {
  color: #a5a5a5;
}

.dropdown {
  position: relative;
}

.dropdown--menu {
  display: none;
  position: absolute;
  left: 5px;
}
.dropdown--menu a {
  display: inline-block;
  width: 142px;
  text-align: center;
}

.dropdown:hover .dropdown--menu {
  display: flex;
  flex-direction: column;
}

.content--banner {
  margin: 0 auto;
  padding: 20rem 20rem;
}

.content--banner p {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
}

.content--banner h2 {
  color: #ffffff;
  font-size: 1.5rem;
}

.content--banner button {
  background-color: #b3956d;
  border-radius: 3rem;
  border: none;
  margin: 25px -5px;
  transition: all 0.4s ease;
}

.content--banner button a {
  display: inline-block;
  padding: 12px 35px;
  color: #fafafa;
  text-decoration: none;
}

.content--banner button:hover {
  background-color: #897253;
  transform: scale(0.95);
}

.main-content {
  background-color: #fafafa;
}
.main-content .text-grid {
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
  position: relative;
  color: #505050;
}
.main-content .text-grid::after {
  content: "";
  position: absolute;
  right: 40%;
  top: 100%;
  width: 20%;
  height: 2px;
  border-radius: 100px;
  background-color: #cfcfcf;
}
.main-content .conteiner-img-grid {
  margin: 25px 80px 60px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.main-content .conteiner-img-grid .img-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .conteiner-img-grid .img-grid:nth-child(1) {
  grid-column-start: span 2;
}
.main-content .conteiner-img-grid .img-grid:nth-child(4) {
  grid-row-start: span 2;
}

.content--card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px 60px 80px 30px;
}

.content--card--logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border: 2px solid #cfcfcf;
  border-radius: 10px;
  padding: 15px 0;
}

.content--card--logo i {
  font-size: 25px;
  color: #505050;
}

.content--card--text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content--card--text span {
  font-weight: 700;
  color: black;
  font-size: 18px;
  text-align: center;
}

.content--card--text p {
  color: #a5a5a5;
}

#slider-text {
  text-align: center;
  font-size: 25px;
}

.slider {
  margin-top: 25px;
  width: 100%;
  height: 800px;
  overflow: hidden;
}
.slider ul {
  display: flex;
  animation: cambio 12s infinite linear;
  width: 800%;
}
.slider ul li {
  width: 12.5%;
  list-style: none;
}
.slider ul li img {
  aspect-ratio: 21/9;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*# sourceMappingURL=estilo.css.map */
