@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat:ital,wght@0,500;1,500&family=Nunito+Sans:opsz,wght@6..12,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.inicio {
  width: 100%;
  position: relative;
  padding-bottom: 250px;
  min-height: 100vh;
}

#header--unico {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../img/postres-fondo-inicio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
#header--unico .conteiner--navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-weight: lighter;
}
#header--unico .conteiner--navbar .logo {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 15px;
}
#header--unico .conteiner--navbar .logo a {
  text-decoration: none;
  color: #cfcfcf;
}
#header--unico .conteiner--navbar .navbar li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
}
#header--unico .conteiner--navbar .navbar li #product {
  cursor: default;
}
#header--unico .conteiner--navbar .navbar li a {
  display: inline-block;
  color: #cfcfcf;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  position: relative;
}
#header--unico .conteiner--navbar .navbar li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 80%;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
#header--unico .conteiner--navbar .navbar li a:hover::after {
  transform: scaleX(0.8);
}
#header--unico .conteiner--navbar .navbar li a:hover {
  color: #a5a5a5;
}

.dropdown {
  position: relative;
}

.dropdown--menu {
  display: none;
  position: absolute;
  left: 5px;
}
.dropdown--menu a {
  display: inline-block;
  width: 142px;
  text-align: center;
}

.dropdown:hover .dropdown--menu {
  display: flex;
  flex-direction: column;
}

.content--banner {
  margin: 0 auto;
  padding: 20rem 20rem;
}

.content--banner p {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
}

.content--banner h2 {
  color: #ffffff;
  font-size: 1.5rem;
}

.content--banner button {
  background-color: #b3956d;
  border-radius: 3rem;
  border: none;
  margin: 25px -5px;
  transition: all 0.4s ease;
}

.content--banner button a {
  display: inline-block;
  padding: 12px 35px;
  color: #fafafa;
  text-decoration: none;
}

.content--banner button:hover {
  background-color: #897253;
  transform: scale(0.95);
}

.main-content {
  background-color: #fafafa;
}
.main-content .text-grid {
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
  position: relative;
  color: #505050;
}
.main-content .text-grid::after {
  content: "";
  position: absolute;
  right: 40%;
  top: 100%;
  width: 20%;
  height: 2px;
  border-radius: 100px;
  background-color: #cfcfcf;
}
.main-content .conteiner-img-grid {
  margin: 25px 80px 60px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.main-content .conteiner-img-grid .img-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .conteiner-img-grid .img-grid:nth-child(1) {
  grid-column-start: span 2;
}
.main-content .conteiner-img-grid .img-grid:nth-child(4) {
  grid-row-start: span 2;
}

.content--card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px 60px 80px 30px;
}

.content--card--logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border: 2px solid #cfcfcf;
  border-radius: 10px;
  padding: 15px 0;
}

.content--card--logo i {
  font-size: 25px;
  color: #505050;
}

.content--card--text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content--card--text span {
  font-weight: 700;
  color: black;
  font-size: 18px;
  text-align: center;
}

.content--card--text p {
  color: #a5a5a5;
}

#slider-text {
  text-align: center;
  font-size: 25px;
}

.slider {
  margin-top: 25px;
  width: 100%;
  height: 800px;
  overflow: hidden;
}
.slider ul {
  display: flex;
  animation: cambio 12s infinite linear;
  width: 800%;
}
.slider ul li {
  width: 12.5%;
  list-style: none;
}
.slider ul li img {
  aspect-ratio: 21/9;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.inicio-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 40px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inicio-footer .social-icons-conteiner,
.inicio-footer .footer-menu-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.inicio-footer .social-icons-conteiner .social-icons,
.inicio-footer .footer-menu-conteiner .social-icons {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border-radius: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.4s ease;
}
.inicio-footer .social-icons-conteiner .social-icons:hover,
.inicio-footer .footer-menu-conteiner .social-icons:hover {
  color: #7a7a7a;
}
.inicio-footer .footer-menu-conteiner {
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
}
.inicio-footer .menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.4s ease;
}
.inicio-footer .menu-item:hover {
  opacity: 1;
}
.inicio-footer .copyright {
  color: #ffffff;
  opacity: 0.3;
  text-align: center;
}

.productos {
  width: 100%;
  position: relative;
  padding-bottom: 800px;
  min-height: 100vh;
  background-color: #cfcfcf;
}

header {
  background-color: #cfcfcf;
  height: 100vh;
  width: 100%;
}
header .conteiner--navbar--multi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-weight: lighter;
  width: 100%;
  background-color: #252525;
}
header .conteiner--navbar--multi .logo {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 15px;
}
header .conteiner--navbar--multi .logo a {
  text-decoration: none;
  color: #cfcfcf;
}
header .conteiner--navbar--multi .navbar li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
}
header .conteiner--navbar--multi .navbar li #product {
  cursor: default;
}
header .conteiner--navbar--multi .navbar li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  position: relative;
}
header .conteiner--navbar--multi .navbar li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 80%;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
header .conteiner--navbar--multi .navbar li a:hover::after {
  transform: scaleX(0.8);
}
header .conteiner--navbar--multi .navbar li a:hover {
  color: #a5a5a5;
}

.dropdown {
  position: relative;
}

.dropdown--menu {
  display: none;
  position: absolute;
  left: 5px;
}
.dropdown--menu a {
  display: inline-block;
  width: 142px;
  text-align: center;
}

.dropdown:hover .dropdown--menu {
  display: flex;
  flex-direction: column;
}

.product-text {
  text-align: center;
  font-size: 30px;
  padding-top: 70px;
}

.conteiner-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 5%;
  margin-top: 2%;
}

.item {
  border-radius: 10px;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.info-product {
  padding: 15px 30px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.item img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.6s ease;
}

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.06);
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #cfcfcf;
}

.price {
  font-size: 18px;
  font-weight: 900;
}

.info-product a {
  text-decoration: none;
  background: #1b1b1b;
  color: #ffffff;
  padding: 15px 10px;
  cursor: pointer;
  width: 50%;
  border-radius: 20px;
  text-align: center;
  transition: all 0.6s ease;
}

.info-product a:hover {
  filter: invert(1);
}

.productos--footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 40px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productos--footer .social-icons-conteiner,
.productos--footer .footer-menu-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.productos--footer .social-icons-conteiner .social-icons,
.productos--footer .footer-menu-conteiner .social-icons {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border-radius: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.4s ease;
}
.productos--footer .social-icons-conteiner .social-icons:hover,
.productos--footer .footer-menu-conteiner .social-icons:hover {
  color: #7a7a7a;
}
.productos--footer .footer-menu-conteiner {
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
}
.productos--footer .menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.4s ease;
}
.productos--footer .menu-item:hover {
  opacity: 1;
}
.productos--footer .copyright {
  color: #ffffff;
  opacity: 0.3;
  text-align: center;
}

.productos {
  width: 100%;
  position: relative;
  padding-bottom: 800px;
  min-height: 100vh;
  background-color: #cfcfcf;
}

header {
  background-color: #cfcfcf;
  height: 100vh;
  width: 100%;
}
header .conteiner--navbar--multi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-weight: lighter;
  width: 100%;
  background-color: #252525;
}
header .conteiner--navbar--multi .logo {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 15px;
}
header .conteiner--navbar--multi .logo a {
  text-decoration: none;
  color: #cfcfcf;
}
header .conteiner--navbar--multi .navbar li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
}
header .conteiner--navbar--multi .navbar li #product {
  cursor: default;
}
header .conteiner--navbar--multi .navbar li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  position: relative;
}
header .conteiner--navbar--multi .navbar li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 80%;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
header .conteiner--navbar--multi .navbar li a:hover::after {
  transform: scaleX(0.8);
}
header .conteiner--navbar--multi .navbar li a:hover {
  color: #a5a5a5;
}

.dropdown {
  position: relative;
}

.dropdown--menu {
  display: none;
  position: absolute;
  left: 5px;
}
.dropdown--menu a {
  display: inline-block;
  width: 142px;
  text-align: center;
}

.dropdown:hover .dropdown--menu {
  display: flex;
  flex-direction: column;
}

.product-text {
  text-align: center;
  font-size: 30px;
  padding-top: 70px;
}

.conteiner-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 5%;
  margin-top: 2%;
}

.item {
  border-radius: 10px;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.info-product {
  padding: 15px 30px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.item img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.6s ease;
}

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.06);
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #cfcfcf;
}

.price {
  font-size: 18px;
  font-weight: 900;
}

.info-product a {
  text-decoration: none;
  background: #1b1b1b;
  color: #ffffff;
  padding: 15px 10px;
  cursor: pointer;
  width: 50%;
  border-radius: 20px;
  text-align: center;
  transition: all 0.6s ease;
}

.info-product a:hover {
  filter: invert(1);
}

.productos--footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 40px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productos--footer .social-icons-conteiner,
.productos--footer .footer-menu-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.productos--footer .social-icons-conteiner .social-icons,
.productos--footer .footer-menu-conteiner .social-icons {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border-radius: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.4s ease;
}
.productos--footer .social-icons-conteiner .social-icons:hover,
.productos--footer .footer-menu-conteiner .social-icons:hover {
  color: #7a7a7a;
}
.productos--footer .footer-menu-conteiner {
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
}
.productos--footer .menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.4s ease;
}
.productos--footer .menu-item:hover {
  opacity: 1;
}
.productos--footer .copyright {
  color: #ffffff;
  opacity: 0.3;
  text-align: center;
}

.productos {
  width: 100%;
  position: relative;
  padding-bottom: 800px;
  min-height: 100vh;
  background-color: #cfcfcf;
}

header {
  background-color: #cfcfcf;
  height: 100vh;
  width: 100%;
}
header .conteiner--navbar--multi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-weight: lighter;
  width: 100%;
  background-color: #252525;
}
header .conteiner--navbar--multi .logo {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 15px;
}
header .conteiner--navbar--multi .logo a {
  text-decoration: none;
  color: #cfcfcf;
}
header .conteiner--navbar--multi .navbar li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
}
header .conteiner--navbar--multi .navbar li #product {
  cursor: default;
}
header .conteiner--navbar--multi .navbar li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  position: relative;
}
header .conteiner--navbar--multi .navbar li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 80%;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
header .conteiner--navbar--multi .navbar li a:hover::after {
  transform: scaleX(0.8);
}
header .conteiner--navbar--multi .navbar li a:hover {
  color: #a5a5a5;
}

.dropdown {
  position: relative;
}

.dropdown--menu {
  display: none;
  position: absolute;
  left: 5px;
}
.dropdown--menu a {
  display: inline-block;
  width: 142px;
  text-align: center;
}

.dropdown:hover .dropdown--menu {
  display: flex;
  flex-direction: column;
}

.product-text {
  text-align: center;
  font-size: 30px;
  padding-top: 70px;
}

.conteiner-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 5%;
  margin-top: 2%;
}

.item {
  border-radius: 10px;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.info-product {
  padding: 15px 30px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.item img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.6s ease;
}

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.06);
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #cfcfcf;
}

.price {
  font-size: 18px;
  font-weight: 900;
}

.info-product a {
  text-decoration: none;
  background: #1b1b1b;
  color: #ffffff;
  padding: 15px 10px;
  cursor: pointer;
  width: 50%;
  border-radius: 20px;
  text-align: center;
  transition: all 0.6s ease;
}

.info-product a:hover {
  filter: invert(1);
}

.productos--footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 40px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productos--footer .social-icons-conteiner,
.productos--footer .footer-menu-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.productos--footer .social-icons-conteiner .social-icons,
.productos--footer .footer-menu-conteiner .social-icons {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border-radius: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.4s ease;
}
.productos--footer .social-icons-conteiner .social-icons:hover,
.productos--footer .footer-menu-conteiner .social-icons:hover {
  color: #7a7a7a;
}
.productos--footer .footer-menu-conteiner {
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
}
.productos--footer .menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.4s ease;
}
.productos--footer .menu-item:hover {
  opacity: 1;
}
.productos--footer .copyright {
  color: #ffffff;
  opacity: 0.3;
  text-align: center;
}

.productos {
  width: 100%;
  position: relative;
  padding-bottom: 800px;
  min-height: 100vh;
  background-color: #cfcfcf;
}

header {
  background-color: #cfcfcf;
  height: 100vh;
  width: 100%;
}
header .conteiner--navbar--multi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-weight: lighter;
  width: 100%;
  background-color: #252525;
}
header .conteiner--navbar--multi .logo {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 15px;
}
header .conteiner--navbar--multi .logo a {
  text-decoration: none;
  color: #cfcfcf;
}
header .conteiner--navbar--multi .navbar li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
}
header .conteiner--navbar--multi .navbar li #product {
  cursor: default;
}
header .conteiner--navbar--multi .navbar li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  position: relative;
}
header .conteiner--navbar--multi .navbar li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 80%;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
header .conteiner--navbar--multi .navbar li a:hover::after {
  transform: scaleX(0.8);
}
header .conteiner--navbar--multi .navbar li a:hover {
  color: #a5a5a5;
}

.dropdown {
  position: relative;
}

.dropdown--menu {
  display: none;
  position: absolute;
  left: 5px;
}
.dropdown--menu a {
  display: inline-block;
  width: 142px;
  text-align: center;
}

.dropdown:hover .dropdown--menu {
  display: flex;
  flex-direction: column;
}

.product-text {
  text-align: center;
  font-size: 30px;
  padding-top: 70px;
}

.conteiner-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 5%;
  margin-top: 2%;
}

.item {
  border-radius: 10px;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.info-product {
  padding: 15px 30px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.item img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.6s ease;
}

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.06);
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #cfcfcf;
}

.price {
  font-size: 18px;
  font-weight: 900;
}

.info-product a {
  text-decoration: none;
  background: #1b1b1b;
  color: #ffffff;
  padding: 15px 10px;
  cursor: pointer;
  width: 50%;
  border-radius: 20px;
  text-align: center;
  transition: all 0.6s ease;
}

.info-product a:hover {
  filter: invert(1);
}

.productos--footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 40px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productos--footer .social-icons-conteiner,
.productos--footer .footer-menu-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.productos--footer .social-icons-conteiner .social-icons,
.productos--footer .footer-menu-conteiner .social-icons {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border-radius: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.4s ease;
}
.productos--footer .social-icons-conteiner .social-icons:hover,
.productos--footer .footer-menu-conteiner .social-icons:hover {
  color: #7a7a7a;
}
.productos--footer .footer-menu-conteiner {
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
}
.productos--footer .menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.4s ease;
}
.productos--footer .menu-item:hover {
  opacity: 1;
}
.productos--footer .copyright {
  color: #ffffff;
  opacity: 0.3;
  text-align: center;
}

.preguntas-frecuentes {
  width: 100%;
  position: relative;
  padding-bottom: 240px;
  min-height: 100vh;
}

header {
  background-color: #cfcfcf;
  height: 100vh;
  width: 100%;
}
header .conteiner--navbar--multi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-weight: lighter;
  width: 100%;
  background-color: #252525;
}
header .conteiner--navbar--multi .logo {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 15px;
}
header .conteiner--navbar--multi .logo a {
  text-decoration: none;
  color: #cfcfcf;
}
header .conteiner--navbar--multi .navbar li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
}
header .conteiner--navbar--multi .navbar li #product {
  cursor: default;
}
header .conteiner--navbar--multi .navbar li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  position: relative;
}
header .conteiner--navbar--multi .navbar li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 80%;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
header .conteiner--navbar--multi .navbar li a:hover::after {
  transform: scaleX(0.8);
}
header .conteiner--navbar--multi .navbar li a:hover {
  color: #a5a5a5;
}

.dropdown {
  position: relative;
}

.dropdown--menu {
  display: none;
  position: absolute;
  left: 5px;
}
.dropdown--menu a {
  display: inline-block;
  width: 142px;
  text-align: center;
}

.dropdown:hover .dropdown--menu {
  display: flex;
  flex-direction: column;
}

.contenedor-acordeon {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 80px;
}
.contenedor-acordeon h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
}
.contenedor-acordeon .acordeon label {
  display: block;
  padding: 20px;
  font-size: 20px;
  background: #1c1c1c;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease;
}
.contenedor-acordeon .acordeon label:hover {
  background-color: #2e2e2e;
}
.contenedor-acordeon .contenido-acordeon p {
  padding-left: 10px;
}
.contenedor-acordeon .acordeon .contenido-acordeon {
  padding: 0px;
  max-height: 0px;
  overflow: hidden;
  transition: all 300ms ease;
  background-color: #505050;
  color: #cfcfcf;
}
.contenedor-acordeon .btn-acordeon:checked ~ .contenido-acordeon {
  max-height: 600px;
  padding: 15px 0px;
}
.contenedor-acordeon .btn-acordeon {
  display: none;
}

.preguntas-frecuentes--footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 40px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.preguntas-frecuentes--footer .social-icons-conteiner,
.preguntas-frecuentes--footer .footer-menu-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.preguntas-frecuentes--footer .social-icons-conteiner .social-icons,
.preguntas-frecuentes--footer .footer-menu-conteiner .social-icons {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border-radius: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.4s ease;
}
.preguntas-frecuentes--footer .social-icons-conteiner .social-icons:hover,
.preguntas-frecuentes--footer .footer-menu-conteiner .social-icons:hover {
  color: #7a7a7a;
}
.preguntas-frecuentes--footer .footer-menu-conteiner {
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
}
.preguntas-frecuentes--footer .menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.4s ease;
}
.preguntas-frecuentes--footer .menu-item:hover {
  opacity: 1;
}
.preguntas-frecuentes--footer .copyright {
  color: #ffffff;
  opacity: 0.3;
  text-align: center;
}

.contacto {
  width: 100%;
  position: relative;
  padding-bottom: 240px;
  min-height: 100vh;
}

header {
  background-color: #cfcfcf;
  height: 100vh;
  width: 100%;
}
header .conteiner--navbar--multi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-weight: lighter;
  width: 100%;
  background-color: #252525;
}
header .conteiner--navbar--multi .logo {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 15px;
}
header .conteiner--navbar--multi .logo a {
  text-decoration: none;
  color: #cfcfcf;
}
header .conteiner--navbar--multi .navbar li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
}
header .conteiner--navbar--multi .navbar li #product {
  cursor: default;
}
header .conteiner--navbar--multi .navbar li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  position: relative;
}
header .conteiner--navbar--multi .navbar li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 80%;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
header .conteiner--navbar--multi .navbar li a:hover::after {
  transform: scaleX(0.8);
}
header .conteiner--navbar--multi .navbar li a:hover {
  color: #a5a5a5;
}

.dropdown {
  position: relative;
}

.dropdown--menu {
  display: none;
  position: absolute;
  left: 5px;
}
.dropdown--menu a {
  display: inline-block;
  width: 142px;
  text-align: center;
}

.dropdown:hover .dropdown--menu {
  display: flex;
  flex-direction: column;
}

.conteiner-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 150px;
}
.conteiner-form h2 {
  margin-bottom: 50px;
  font-size: 35px;
  letter-spacing: 3px;
}
.conteiner-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.conteiner-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
}
.conteiner-form a i {
  color: #897253;
  margin-right: 10px;
}
.conteiner-form form label {
  display: inline-block;
  margin-bottom: 8px;
}
.conteiner-form form .campo,
.conteiner-form textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
}
.conteiner-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
.conteiner-form form button {
  width: 30%;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #342b20;
  color: white;
  border-radius: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.conteiner-form form button:hover {
  filter: invert(1);
}

.contacto--footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 40px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacto--footer .social-icons-conteiner,
.contacto--footer .footer-menu-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.contacto--footer .social-icons-conteiner .social-icons,
.contacto--footer .footer-menu-conteiner .social-icons {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border-radius: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.4s ease;
}
.contacto--footer .social-icons-conteiner .social-icons:hover,
.contacto--footer .footer-menu-conteiner .social-icons:hover {
  color: #7a7a7a;
}
.contacto--footer .footer-menu-conteiner {
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
}
.contacto--footer .menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.4s ease;
}
.contacto--footer .menu-item:hover {
  opacity: 1;
}
.contacto--footer .copyright {
  color: #ffffff;
  opacity: 0.3;
  text-align: center;
}

.acerca-de-nosotros {
  width: 100%;
  position: relative;
  padding-bottom: 360px;
  min-height: 100vh;
  background-color: #cfcfcf;
}

header {
  background-color: #cfcfcf;
  height: 100vh;
  width: 100%;
}
header .conteiner--navbar--multi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-weight: lighter;
  width: 100%;
  background-color: #252525;
}
header .conteiner--navbar--multi .logo {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 15px;
}
header .conteiner--navbar--multi .logo a {
  text-decoration: none;
  color: #cfcfcf;
}
header .conteiner--navbar--multi .navbar li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
}
header .conteiner--navbar--multi .navbar li #product {
  cursor: default;
}
header .conteiner--navbar--multi .navbar li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  position: relative;
}
header .conteiner--navbar--multi .navbar li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 80%;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
header .conteiner--navbar--multi .navbar li a:hover::after {
  transform: scaleX(0.8);
}
header .conteiner--navbar--multi .navbar li a:hover {
  color: #a5a5a5;
}

.dropdown {
  position: relative;
}

.dropdown--menu {
  display: none;
  position: absolute;
  left: 5px;
}
.dropdown--menu a {
  display: inline-block;
  width: 142px;
  text-align: center;
}

.dropdown:hover .dropdown--menu {
  display: flex;
  flex-direction: column;
}

.conteiner-us {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  gap: 50px;
  margin-top: 150px;
}
.conteiner-us h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 50px;
  font-size: 35px;
  letter-spacing: 3px;
}
.conteiner-us p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.acerca-de-nosotros--footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 40px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.acerca-de-nosotros--footer .social-icons-conteiner,
.acerca-de-nosotros--footer .footer-menu-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.acerca-de-nosotros--footer .social-icons-conteiner .social-icons,
.acerca-de-nosotros--footer .footer-menu-conteiner .social-icons {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border-radius: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.4s ease;
}
.acerca-de-nosotros--footer .social-icons-conteiner .social-icons:hover,
.acerca-de-nosotros--footer .footer-menu-conteiner .social-icons:hover {
  color: #7a7a7a;
}
.acerca-de-nosotros--footer .footer-menu-conteiner {
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
}
.acerca-de-nosotros--footer .menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.4s ease;
}
.acerca-de-nosotros--footer .menu-item:hover {
  opacity: 1;
}
.acerca-de-nosotros--footer .copyright {
  color: #ffffff;
  opacity: 0.3;
  text-align: center;
}

/* Estilos para pantallas pequeñas (hasta 767px de ancho) */
@media (max-width: 1300px) {
  /* Modifica los estilos según tus necesidades para pantallas pequeñas */
  .content--banner {
    padding: 10rem;
  }
  .conteiner-img-grid {
    margin: 25px;
    grid-template-columns: repeat(2, 1fr);
  }
  .content--card {
    grid-template-columns: repeat(2, 1fr);
  }
  .slider {
    height: 400px;
  }
  .navbar {
    text-align: right; /* Alinea los elementos del menú a la derecha */
  }
  .navbar ul {
    padding-right: 20px; /* Agrega un espacio a la derecha para separar los elementos */
  }
  .navbar li {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px; /* Agrega un espacio entre elementos del menú */
  }
  .navbar li a {
    font-size: 16px; /* Cambia el tamaño del texto del menú */
  }
}
/* Estilos para pantallas medianas (de 768px a 991px de ancho) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Modifica los estilos según tus necesidades para pantallas medianas */
  .content--banner {
    padding: 15rem;
  }
  .conteiner-img-grid {
    margin: 25px;
    grid-template-columns: repeat(2, 1fr);
  }
  .content--card {
    grid-template-columns: repeat(3, 1fr);
  }
  .slider {
    height: 500px;
  }
}
/* Estilos para pantallas grandes (a partir de 992px de ancho) */
@media (min-width: 992px) {
  /* Modifica los estilos según tus necesidades para pantallas grandes */
  .content--banner {
    padding: 20rem;
  }
  .conteiner-img-grid {
    margin: 25px 80px 60px 80px;
    grid-template-columns: repeat(3, 1fr);
  }
  .content--card {
    grid-template-columns: repeat(4, 1fr);
  }
  .slider {
    height: 800px;
  }
}
@media (max-width: 909px) {
  .contacto {
    padding-bottom: 350px;
    transition: all 0.6s ease;
    background-color: #cfcfcf;
  }
  .conteiner-form {
    padding: 1%;
  }
}
@media (max-width: 600px) {
  .conteiner--navbar--multi .contacto {
    padding-bottom: 350px;
    transition: all 0.6s ease;
    background-color: #cfcfcf;
  }
  .conteiner-form {
    padding: 1%;
  }
}

/*# sourceMappingURL=estilo.css.map */
