* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    width: 100%;
    position: relative;
    padding-bottom: 250px;
    min-height: 100vh;
}


//FONDO DE PANTALLA Y NAVBAR//

header {

    background-image: $gradiant, url("../img/postres-fondo-inicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

    .conteiner--navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
        font-weight: lighter;

        .logo {
            font-size: 40px;
            text-transform: uppercase;
            letter-spacing: 15px;

            a {
                text-decoration: none;
                color: $color5-blanco;
            }
        }

        .navbar li {
            display: inline-block;
            list-style: none;
            font-size: 18px;

            #product {
                cursor: default;

            }

            a {
                display: inline-block;
                color: $color5-blanco;
                text-decoration: none;
                padding: 15px 30px 15px 30px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 80%;
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    background-color: black;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: transform 0.5s ease;
                }

                &:hover::after {
                    transform: scaleX(0.8);
                }

                &:hover {
                    color: $color4-blanco;
                }

            }
        }
    }
}

//SUBMENU DE PRODUCTOS//

.dropdown {
    position: relative;

}

.dropdown--menu {
    display: none;
    position: absolute;
    left: 5px;


    a {
        display: inline-block;
        width: 142px;
        text-align: center;

    }
}

.dropdown:hover .dropdown--menu {
    display: flex;
    flex-direction: column;
}


//PRIMER BANNER//

.content--banner {
    margin: 0 auto;
    padding: 20rem 20rem;
}

.content--banner p {
    color: $color7-blanco;
    font-size: 1.2rem;
    margin-bottom: 0.1rem;

}

.content--banner h2 {
    color: $color7-blanco;
    font-size: 1.5rem;
}

.content--banner button {
    background-color: $color5-marron;
    border-radius: 3rem;
    border: none;
    margin: 25px -5px;
    transition: $transition;
}

.content--banner button a {
    display: inline-block;
    padding: 12px 35px;
    color: $color6-blanco;
    text-decoration: none;
}

.content--banner button:hover {
    background-color: $color3-marron;
    transform: scale(0.95);
}

//GALERIA DE IMAGENES GRID// //PRIMERA SECTION//

.main-content {
    background-color: $color6-blanco;



    .text-grid {
        text-align: center;
        font-size: 25px;
        padding-top: 50px;
        position: relative;
        color: $color2-blanco;

        &::after {
            content: "";
            position: absolute;
            right: 40%;
            top: 100%;
            width: 20%;
            height: 2px;
            border-radius: 100px;
            background-color: $color5-blanco;
        }
    }

    .conteiner-img-grid {
        margin: 25px 80px 60px 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .img-grid img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .img-grid:nth-child(1) {
            grid-column-start: span 2;
        }

        .img-grid:nth-child(4) {
            grid-row-start: span 2;
        }

    }
}

//CARDS// //SEGUNDA SECTION//

.content--card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px 60px 80px 30px;
}

.content--card--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border: 2px solid $color5-blanco;
    border-radius: 10px;
    padding: 15px 0;

}

.content--card--logo i {
    font-size: 25px;
    color: $color2-blanco;

}

.content--card--text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content--card--text span {
    font-weight: 700;
    color: black;
    font-size: 18px;
    text-align: center;
}

.content--card--text p {
    color: $color4-blanco;
}

//SLIDER// //TERCERA SECTION//


#slider-text {
    text-align: center;
    font-size: 25px;
}

.slider {
    margin-top: 25px;
    width: 100%;
    height: 800px;
    overflow: hidden;

    ul {
        display: flex;
        animation: cambio 12s infinite linear;
        width: 800%;

        li {
            width: 12.5%;
            list-style: none;

            img {
                aspect-ratio: 21/9;
                width: 100%;
                height: 80%;
                object-fit: cover;
            }
        }
    }
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

//FOOTER//

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 40px;
    background-color: $color1-blanco;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .social-icons-conteiner,
    .footer-menu-conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .social-icons {
            height: 50px;
            width: 50px;
            border-radius: 50px;
            border-radius: 1px solid $color7-blanco;
            color: $color7-blanco;
            transition: $transition;

            &:hover {
                color: $color3-blanco;

            }

        }
    }

    .footer-menu-conteiner{
    list-style-type: none;
    color: $color7-blanco;
    font-size: 18px;
    }

    .menu-item{
        margin: 1rem 1.5rem;
        cursor: pointer;
        opacity: 0.6;
        transition: $transition;

        &:hover{
            opacity: 1;
        }
    }

    .copyright{
        color: $color7-blanco;
        opacity: 0.3;
        text-align: center;
    }



}