* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


//FONDO DE PANTALLA Y NAVBAR//

header {

    background-image: url("../img/postres-fondo-inicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

    .conteiner--navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
        font-weight: lighter;

        .logo {
            font-size: 40px;
            text-transform: uppercase;
            letter-spacing: 15px;

            a {
                text-decoration: none;
                color: $color5-blanco;
            }
        }

        .navbar li {
            display: inline-block;
            list-style: none;
            font-size: 18px;

            #product {
                cursor: default;

            }

            a {
                display: inline-block;
                color: $color5-blanco;
                text-decoration: none;
                padding: 15px 30px 15px 30px;
                position: relative;

                /* Agrega una transición a ::after */
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 80%;
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    background-color: black;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: transform 0.5s ease;
                }

                &:hover::after {
                    transform: scaleX(0.8);
                }

                &:hover{
                    color: $color4-blanco;
                }

            }
        }
    }
}

//SUBMENU DE PRODUCTOS//

.dropdown {
    position: relative;

}

.dropdown--menu {
    display: none;
    position: absolute;
    left: 5px;


    a {
        display: inline-block;
        width: 142px;
        text-align: center;

    }
}

.dropdown:hover .dropdown--menu {
    display: flex;
    flex-direction: column;
}


//PRIMER BANNER//

.content--banner {
    margin: 0 auto;
    padding: 20rem 20rem;
}

.content--banner p {
    color: $color7-blanco;
    font-size: 1.2rem;
    margin-bottom: 0.1rem;

}

.content--banner h2 {
    color: $color7-blanco;
    font-size: 1.5rem;
}

.content--banner button {
    background-color: $color5-marron;
    border-radius: 3rem;
    border: none;
    margin: 25px -5px;
    transition: $transition;
}

.content--banner button a {
    display: inline-block;
    padding: 12px 35px;
    color: $color6-blanco;
    text-decoration: none;
}

.content--banner button:hover {
    background-color: $color3-marron;
    transform: scale(0.95);
}