//VARIABLES//

//COLOR-GAMA-BLANCA//

$color0-blanco:#1b1b1b;
$color1-blanco:#252525;
$color2-blanco:#505050;
$color3-blanco:#7a7a7a;
$color4-blanco:#a5a5a5;
$color5-blanco:#cfcfcf;
$color6-blanco:#fafafa;
$color7-blanco:#ffffff;

//COLOR-GAMA-MARRON//

$color1-marron:#342b20;
$color2-marron:#5e4f39;
$color3-marron:#897253;
$color4-marron:#897253ff;
$color5-marron:#b3956d;
$color6-marron:#deb986;

//COLOR-GAMA-VERDE//

$color1-verde:#abfabcff;
$color2-verde:#c2fdcfff;
$color3-verde:#d1fcdaff;
$color4-verde:#e0fce6ff;
$color5-verde:#edfff0ff;
$color6-verde:#f2fdf4ff;


//Transicisiones//

$transition: all 0.4s ease;
$transition2: all 0.6s ease;
$transition3: all 1s ease;
$transition4: all 1.5s ease;
$transition5: all 2s ease;

//Linear-Gradiant//

$gradiant: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
