//VARIABLES//

//COLOR-GAMA-BLANCA//

$color1-blanco:#252525;
$color2-blanco:#505050;
$color3-blanco:#7a7a7a;
$color4-blanco:#a5a5a5;
$color5-blanco:#cfcfcf;
$color6-blanco:#fafafa;
$color7-blanco:#ffffff;

//COLOR-GAMA-MARRON//

$color1-marron:#342b20;
$color2-marron:#5e4f39;
$color3-marron:#897253;
$color4-marron:#897253ff;
$color5-marron:#b3956d;
$color6-marron:#deb986;


//Transicisiones//

$transition: all 0.4s ease;

//Linear-Gradiant//

$gradiant: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0))

